@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

/*left side */

.main-div {
  display: flex;
}

.left-side {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 15%; /* adjust the width as needed */
}
.brand {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 12px;
}

.sideIcon {
  height: 53px;
  margin-left: 10px;
  margin-right: 5px;
}

.profile {
  width: 70%;
}

.icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2%;
  font-size: 20px;
  padding: 2px;
}

.icon {
  height: 30px;
  margin-right: 10px;
}

/*Form style */

.form {
  background-color: #dc2626;
  padding: 10px;
  border: 1px solid #dc2626;
  border-radius: 15px;
  font-size: 22px;
  width: 90%;
}

.book-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
}

h3 {
  color: white;
}

.profile-text {
  cursor: pointer;
}

/*right side*/

.right-side {
  margin-left: 15%; /* Ensure the right side doesn't get overlapped by the fixed left side */
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.user-image {
  width: 55px;
  height: 55px;
  border-radius: 50px;
}

.picture-user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-image,
.username {
  margin-right: 20px;
}

.search-option {
  background-color: #f1f1f1;
  width: 550px;
  margin-left: 10%;
  height: 21px;
  border: 2px solid grey;
  border-radius: 15px;
}

/*Publicity*/

.publicity {
  height: 32vh;
  width: 100%;
}

#publicity-image {
  height: 100%;
  width: 100%;
}

/*GRID CONTIANER*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  margin-top: 50px;
}

.uploaded-image {
  width: 100%;
  height: 300px;
}

.book {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
}
